notes.py
.env 
db.sqlite3
setup.cfg
# ignoring app caches and migrations to avoid conflict during deployment
!**/__pycache__**
**/__pycache__/**
**/migrations/**
!**/migrations
!**/migrations/__init__.py
**/.VSCodeCounter/**